export MYSQL_VERSION=5.6.36
export MONGO_VERSION=3.2.16

# Keystone has a number of these, but they're not for us to act upon
export PYTHONWARNINGS="ignore::DeprecationWarning"

use flake

layout_python python3
