layout_python python3.7
export MYSQL_VERSION=5.6.36
export MONGO_VERSION=3.2.16

# Keystone has a number of these, but they're not for us to act upon
export PYTHONWARNINGS="ignore::DeprecationWarning"

# Swift credentials for local development
export OS_USERNAME=swift
export OS_PASSWORD=fingertips
export OS_PROJECT_NAME=service
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_AUTH_URL=http://127.0.0.1:35357/v3
export OS_IDENTITY_API_VERSION=3
