export MYSQL_VERSION=5.6.36
export MONGO_VERSION=3.2.16

# Keystone has a number of these, but they're not for us to act upon
export PYTHONWARNINGS="ignore::DeprecationWarning"

if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  echo 'while direnv evaluated .envrc, could not find the command "lorri" [https://github.com/nix-community/lorri]'
  use nix
fi

layout_python python3
